.label-field
 {
	font-size:11px; color:Black;
	font-family:Verdana;
	width:150px;
 }
 .text-field
 {
	width: 150px;	
	text-align :left ;	
	border:1px solid #999999;
	font-size:11px; color:Black;
	font-family:Verdana;
	
 }
 
 .text-lebel
 {
	font:normal normal small Verdana;
	
 }
 .white-title-text-login
 {
 	font-family:Verdana, Arial, Helvetica, sans-serif; 
 	font-size:13px; 
 	font-weight:bold;
 	color:#FFFFFF; 
 	text-decoration:none;
 	padding-left:50px;
 	margin-bottom:40px;
 }
  .white-title-text
 {
 	font-family:Verdana, Arial, Helvetica, sans-serif; 
 	font-size:13px; 
 	font-weight:bold;
 	color:#FFFFFF; 
 	text-decoration:none;
 	padding-left:0px;
 	margin-bottom:10px;
 }
 .white-title-text-block
 {
 	font-family:Verdana, Arial, Helvetica, sans-serif; 
 	font-size:13px; 
 	font-weight:bold;
 	color:#FFFFFF; 
 	text-decoration:none;
 	padding-left:0px;
 	margin-bottom:10px; 
	width: 1050px; 
	color: Blue; 
	font-weight: normal; 
	height: 25px;
	background-color: #A0A0A0; 
	text-align: right; 
	padding-top: 8px;
 }
  .span-page-header
 {
 	font-family:Verdana; 
 	font-size:15px; 
 	font-weight:bold;
 	color:Blue; 
 	margin-left: 25px;	
 }
 .hyper-link-text
 {
 	font-family:Verdana, Arial, Helvetica, sans-serif; 
 	font-size:13px; 
 	font-weight:normal;
 }
 .red-linktext 
 {
 	font-family:Verdana, Arial, Helvetica, sans-serif; 
 	font-size:11px; 
 	font-weight:normal; 
 	color:#601b1b; 
 	text-decoration:none;
 }
 .login-main-dv
 {
	margin: 100px 350px 200px 250px;
	width:450px; 
	height: 250px; 
	padding-top:33px; 
	
 }
 .space-row-dv
 {
 		margin:0px 15px 10px 50px; 		
 }
 .btn-submit
 {
 	margin-left : 185px; 
 	float:left; 
 	margin-right: 15px;
 }
 .login-top-dv
 {
 		width: 1225px; 
 		height: 50px; 
 		border: 0px red solid; 
 		margin-left: 25px; 		
 }
 .login-left-dv
 {
 		width: 200px; 
 		height: 580px;
 		position: relative;
 		border: 1px black solid; 
 		margin-left: 25px; 
 		float:left;
 		background-color: #C8C8C8
 }
 .content-area-div
 {
 		width: 1050px; 
 		height: 580px; 
 		border: 1px black solid;
 		margin-left: 200px;
 		
 }
 .textarea-scrollbar-color 
 {
     scrollbar-base-color: #D5D9DA;     
 }
 .label-dv
 {
 		width: 100px; float: left;
 }
 .header-dv
 {
	width: 200px; 
	height: 50px;
	float:left;	
 }
 .text-field-area
 {
	font:normal normal small Verdana;
	text-align :left ;
	width:150px;
	height:80px;	
	border:1px solid #999999;
	font-size:11px; color:Black;
	font-family:Verdana;	
 }

	.myCalendar {  
	background-color: #efefef;  
	width: 200px;  
	}  
	  

	.myCalendar a {  
		text-decoration: none;  
	}  
	  
	.myCalendar .myCalendarTitle {  
		font-weight: bold;  
	}  

	.myCalendar td.myCalendarDay {  
		border: solid 2px #fff;  
		border-left: 0;  
		border-top: 0;  
	}  

	.myCalendar .myCalendarNextPrev {  
		text-align: center;  
	}  
	 
	.myCalendar td.myCalendarSelector {  
		background-color: #dddddd;  
	}  
	 
	.myCalendar .myCalendarDay a,   
	.myCalendar .myCalendarSelector a,  
	.myCalendar .myCalendarNextPrev a {  
		display: block;  
		line-height: 18px;  
	}  
	  
	.myCalendar .myCalendarDay a:hover,   
	.myCalendar .myCalendarSelector a:hover {  
		background-color: #cccccc;  
	}  
	  
	.myCalendar .myCalendarNextPrev a:hover {  
		background-color: #fff;  
	}  
	
	.infotext 
	{
		font-family:Verdana;
		font-size:11px; 
		font-weight:normal; 
		color:Red; 
		text-decoration:none;		
	}
	.label-field-maxcharlimit
	{
		font-size:11px; color:Black;
		font-family:Verdana;
		width:150px;
		color: Red;
	}